@model HappyHourBeerList.ViewModels.BarFormViewModel
@{
    ViewBag.Title = "Bar Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form">
    @if (Model.IsNew)
    {
        <h2 class="customForm">Add New Tap Room</h2>
    }
    else
    {
        <h2 class="customForm">Edit Bar: @Model.Bar.Name</h2>
    }


    @using (Html.BeginForm("Save", "Bar"))
    {
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.Bar.Name)
            @Html.TextBoxFor(m => m.Bar.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Bar.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Bar.GooglePlaceId) (<a target="_blank" href="https://developers.google.com/maps/documentation/javascript/examples/places-placeid-finder">Get it</a>)
            @Html.TextBoxFor(m => m.Bar.GooglePlaceId, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Bar.GooglePlaceId)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Bar.SundayDiscounts)
            @Html.TextAreaFor(m => m.Bar.SundayDiscounts, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Bar.MondayDiscounts)
            @Html.TextAreaFor(m => m.Bar.MondayDiscounts, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Bar.TuesdayDiscounts)
            @Html.TextAreaFor(m => m.Bar.TuesdayDiscounts, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Bar.WednesdayDiscounts)
            @Html.TextAreaFor(m => m.Bar.WednesdayDiscounts, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Bar.ThursdayDiscounts)
            @Html.TextAreaFor(m => m.Bar.ThursdayDiscounts, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Bar.FridayDiscounts)
            @Html.TextAreaFor(m => m.Bar.FridayDiscounts, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Bar.SaturdayDiscounts)
            @Html.TextAreaFor(m => m.Bar.SaturdayDiscounts, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Bar.Number)
            @Html.TextBoxFor(m => m.Bar.Number, new { @class = "form-control", @type = "number" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Bar.StreetName)
            @Html.TextBoxFor(m => m.Bar.StreetName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Bar.City)
            @Html.TextBoxFor(m => m.Bar.City, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Bar.State)
            @Html.TextBoxFor(m => m.Bar.State, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Bar.ZipCode)
            @Html.TextBoxFor(m => m.Bar.ZipCode, new { @class = "form-control", @type = "number" })
            @Html.ValidationMessageFor(m => m.Bar.ZipCode)
        </div>
        @*You could actually put this form into a separate file like so: See Address.cshtml in EditorTemplates folder
            @Html.EditorFor(m => m.Address)*@


        @Html.HiddenFor(m => m.Bar.BarId)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Save</button>

    }
</div>