@model IEnumerable<HappyHourBeerList.Models.Bar>

@{
    ViewBag.Title = "Classy Tap Rooms - AleHub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well" id="taproomListWell">
    <h2>Classy Tap Rooms</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BarId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BarId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BarId })
                </td>
            </tr>
        }

    </table>
</div>