@model HappyHourBeerList.ViewModels.BeerFormViewModel
@{
    ViewBag.Title = "Beer Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.IsNew)
{
    <h2 class="customForm">Add New Beer</h2>
}
else
{
    <h2 class="customForm">Edit Beer: @Model.Beer.Name</h2>
}

@using (Html.BeginForm("Save", "Beer"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Beer.Name)
        @Html.TextBoxFor(m => m.Beer.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Beer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Beer.Description)
        @Html.TextAreaFor(m => m.Beer.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Beer.Brewer)
        @Html.TextBoxFor(m => m.Beer.Brewer, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Beer.Brewer)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Beer.Ibu)
        @Html.TextBoxFor(m => m.Beer.Ibu, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Beer.Ibu)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Beer.Abv)
        @Html.TextBoxFor(m => m.Beer.Abv, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Beer.LogoPath)
        @Html.TextBoxFor(m => m.Beer.LogoPath, new {@class = "form-control"})
    </div>

    @Html.HiddenFor(m => m.Beer.BeerId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}